<div [@fadeIn] class=" row justify-content-center align-items-center">
    <mat-card style="width: 400px;">
      <form >
          <br>
          <img src="https://steamuserimages-a.akamaihd.net/ugc/527258867810910446/7F57DE98061D20B5E18094669C177E75581B9D84/" alt="">
          <h1>Registrar</h1>
          <mat-form-field style="width: 100%;">
            <mat-label for="inputUsername">Username</mat-label>
                <input type="text" matInput required autocomplete="off">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <mat-label for="inputUsername">Nombre Completo</mat-label>
              <input type="text" matInput required autocomplete="off">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
              <mat-label for="inputPassword">Contraseña</mat-label>
              <input type="text" matInput required autocomplete="off">
            </mat-form-field>
            <mat-form-field style="width: 100%;">
                <mat-label for="inputUsername">Email</mat-label>
                <input type="text" matInput required autocomplete="off">
            </mat-form-field>
              <div class="form-check">
                <label id="terminos" class="form-check-label" for="gridCheck" style="font-size: 12px; width: 100%;"><mat-checkbox></mat-checkbox>&nbsp;&nbsp; Al registrarte, aceptas nuetras Condiciones, la Politica de datos y Politica de Cookies</label>
            </div>  
          <button mat-raised-button color="accent" style="justify-content: center;margin-top: 15px;" type="submit">Iniciar sesión</button><br>
          <hr>
          <label>¿Ya posees una cuenta?</label><br>
          <a routerLink="/login">Registrarse</a><br>
      </form>
  </mat-card>
  </div>
  
  