
<section id="hero" class="hero d-flex align-items-center" >

    <div class="container" >
      <div class="row">
        <div class="col-lg-4 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <button (click)="createComponentL()" type="button" class="btn btn-primary">Iniciar Sesion</button>
                <button (click)="createComponentR()" type="button" class="btn btn-secondary">Registrarse</button>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-8" >
            <ng-template #appChangesLR></ng-template>
          </div>
      </div>
    </div>
    
  </section>
