

    <div class="container-home" >   
        <div [@fadeIn] class="m-0  row justify-content-center align-items-center">  
            <div class="container">
                <a (click)="inputSideNav.toggle()">
                    <div id="card1" class="card">
                        <img class="cimg" id="img1" src="https://uploads.gamedev.net/gallery/monthly_2019_12/86ad541ca8274f83a075d77612af647a.fight__upper_1soph.gif" alt="">
                    </div>   
                </a>    
                <a routerLink="/list-users" (click)="inputSideNav.toggle()">
                    <div id="card2" class="card">
                        <div class="cimg" id="img2"><img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/ad944b60-96dc-4ae5-9486-f981d5842975/d4qfesd-17e33f31-10cd-4b8b-a2b8-2527603a04ef.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2FkOTQ0YjYwLTk2ZGMtNGFlNS05NDg2LWY5ODFkNTg0Mjk3NVwvZDRxZmVzZC0xN2UzM2YzMS0xMGNkLTRiOGItYTJiOC0yNTI3NjAzYTA0ZWYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.ftR6ZZObGawk4_vk52XqfEhiogx6iydm3eQLejfySxA" alt=""></div>
                    </div>
                </a>    
                <a routerLink="/stastitics"  (click)="inputSideNav.toggle()">
                    <div id="card3" class="card">
                        <img class="cimg" id="img3" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/4ae8b3c2-0621-4e22-8729-1de81f4235a6/dasegfc-daf18abf-ecc0-4be0-bbbf-d24c1d46e5df.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzRhZThiM2MyLTA2MjEtNGUyMi04NzI5LTFkZTgxZjQyMzVhNlwvZGFzZWdmYy1kYWYxOGFiZi1lY2MwLTRiZTAtYmJiZi1kMjRjMWQ0NmU1ZGYuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.x5FozImQDJDS_4OjwFz8TB6cg2xOovlnEMNBKaR1LjA" alt="">
                    </div>
                </a>     
                <a href="#" (click)="inputSideNav.toggle()">
                    <div id="card4" class="card">
                        <img class="cimg" id="img4" src="https://media.tenor.com/images/66c81e7e884b7d77c334b27027942b11/tenor.gif" alt="">
                    </div>
                </a>
            </div>
        </div>
    </div>   





















<!--
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet"/>
</head> 
<div class="container-home">   
    <div [@fadeIn] class="m-0  row justify-content-center align-items-center">
        <div id="DGeneral" class="justify-content-center">
           
            <div id="con1">
                <a href="#" id="btn1"  class="btn">EQUIPOS</a>
            </div> 

            <div id="con2">
                <a href="#" id="btn2"  class="btn">EQUIPOS</a>
            </div> 

        </div>

        <div id="DGenera3">
            <div id="con3">
                <a href="#" id="btn3" class="btn">HISTORIAL</a>
            </div> 

            <div class="con4">
                <a href="#" id="btn4"  class="btn">ESTADISTICAS</a>
            </div> 

        </div>        
    </div>
</div>  -->
  

