<div [@fadeIn] class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="p-5 text-center">
      <section class="fila1">
          <div class="container-home">
            <a href="#">
              <div class="card">
                <div class="imgBx">
                    <img src="../../../assets/img/torneo.png" alt="">
                </div>
                <div class="content">
                    <a href="#">TORNEOS</a>
                </div>
            </div>
            </a>
              <a href="#">
                <div class="card">
                  <div class="imgBx">
                      <img src="../../../assets/img/usuarios.png" alt="">
                  </div>
                  <div class="content">
                      <a href="#">USUARIOS</a>
                  </div>
              </div>
              </a>
              <a href="#">
                <div class="card">
                  <div class="imgBx">
                      <img src="../../../assets/img/history.png" alt="">
                  </div>
                  <div class="content">
                      <a href="#">HISTORIAL</a>
                  </div>
              </div>
              </a>
              <a href="#">
                <div class="card">
                  <div class="imgBx">
                      <img src="../../../assets/img/grafico-de-barras.png" alt="">
                  </div>
                  <div class="content" href="#">
                      <a href="#">ESTADISTICAS</a>
                  </div>
              </div>
              </a>
          </div>
      </section>
  </div>
</div>
