.example-card {
    max-width: 25%;
  }
  
  .example-header-image {
    background-image: url('https://studio.cults3d.com/4QqRV9kLYYEuw9ur_X3yjQl1sjk=/516x516/https://files.cults3d.com/uploaders/15024335/illustration-file/a86d53e4-2bd9-4a8f-9550-986686c3131a/gi0mAjIh_400x400.png');
    background-size: cover;
  }

  .mat-fab{
    margin: 1vh;
  }

  .mat-button{
    margin-right: -1vh;
  }