.example-card {
    max-width: 300px;
    margin-top: 15px;
  }
  
  .example-header-image {
    background-image: url('https://studio.cults3d.com/4QqRV9kLYYEuw9ur_X3yjQl1sjk=/516x516/https://files.cults3d.com/uploaders/15024335/illustration-file/a86d53e4-2bd9-4a8f-9550-986686c3131a/gi0mAjIh_400x400.png');
    background-size: cover;
  }

  .mat-fab{
    margin: 1vh;
  }

 

  #cardP{
    background-color: rgb(30, 39, 70);
  }

  h2{
    align-items: center;
    text-align: center;
  }

  .button {
    text-align: center;
    align-items: center;
  }

  .mat-accordion, .mat-expansion-panel{
    background-color: #1c162f;
  }

  .gradient-border {
    --borderWidth: 3px;
    position: relative;
    border-radius: var(--borderWidth);
  }
  .gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  
  
  @keyframes animatedgradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }